{% extends 'base.html.twig' %}

{% block title %}Parcours de formation{% endblock %}

{% block body %}
    <div class="bannerFormation"> </div>

    <section>
        <div class="containerFormation container text-start">
            <div class="containerDirectionHome container text-start mt-3">
                <p><a href="{{ path('app_homepage_index') }}">Accueil</a> > Parcours de formation </p>
            </div>
            <hr class="firstHr mb-5 mt-5">
            <h1 class="h1Color">Parcours de Formation à la conduite automobile</h1>
            <p>Vous allez apprendre à manipuler une automobile, à circuler dans différentes configurations et à en connaître les risques et les limites. Cela demande de la motivation et de la persévérance.</p>
            <p>Le parcours de formation qui vous est proposé vous permettra de progresser, de connaître les règles du code de la route, de devenir un conducteur responsable et de vous préparer aux examens du permis de conduire.</p>
            <p>En signant un contrat avec notre auto-école, vous vous engagez à suivre le programme de formation suivant :</p>
            <br>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Parcours théorique
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordionColor accordion-body">
                           <p>La formation aux cours théoriques, portant sur différentes thématiques, se déroule collectivement, dans les locaux de l’école de conduite, et est dispensée en présence d’un enseignant de la conduite et de la sécurité routière titulaire d’une autorisation d’enseigner en cours de validité.</p><p></p>
                            <p>Les horaires des cours théoriques sont affichés dans l’établissement.</p>
                            <p>La formation théorique sur des questions d’entraînement au code pourra être suivie soit dans les locaux de l’école de conduite avec un support média tel que DVD, Box ou avec un enseignant, soit sur Internet.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Parcours pratique
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordionColor accordion-body">
                            <p>Pendant la phase pratique, vous serez amené à circuler :</p>
                            <ul>
                                <li>en ville ;</li>
                                <li>En rase campagne ;</li>
                                <li>sur autoroute ;</li>
                                <li>la nuit (si le cas se présente)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="hrH1 mb-5">
                <h1 class="h1Color">Vous aurez la possibilité de participer à un voyage école</h1>
                <p>Sur la base du volontariat, le voyage-école permet d’acquérir de l’expérience au volant. Il permet par exemple d’apprendre à lire une carte, à utiliser un GPS, à favoriser l’autonomie et à apprendre en observant les autres élèves. Un groupe de trois élèves conduisent à tour de rôle sur une demi-journée ou une journée. Ces voyages-école se feront sur réservations, elles seront proposées soit le samedi, soit en semaine lors des vacances scolaires </p>
                <hr class="hrH1 mb-5">
                <h1 class="h1Color">De l’écoute pédagogique vous sera proposée</h1>
                <p class="pEnding">Placé à l’arrière de la voiture, vous observez un élève qui conduit et vous écoutez les explications et les conseils de l’enseignant. Vous faites part de vos observations et de vos réflexions pendant cette écoute.</p>
            </div>
        </div>
    </section>
{% endblock %}
