{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Dashboard Performance
{% endblock %}

{% block content_title %}
    <h1><p>Bienvenue dans l'espace  Performance !</p></h1>
{% endblock %}

{% block main %}
    <p>Nous sommes ravis de vous accueillir dans cet espace dédié à la gestion et à la configuration de votre site</p>
    <p>vous avez le pouvoir de façonner l'expérience de vos utilisateurs et de maintenir la qualité de votre plateforme. Voici quelques-unes des fonctionnalités que vous pouvez utiliser :</p>
    <br>
    <h2>Pour les employés:</h2>
    <ul>
        <li>Gerer votre espace personnel.</li>
        <li>Gerer la page actualité du site.</li>
        <li>Gérer la rubrique des agences.</li>
    </ul>
    <h2>Pour la propriétaire de l'entreprise:</h2>
    <ul>
        <li>Avoir les memes fonctionnalités que les employés.</li>
        <li>Gerer les espaces des différents permis de conduire.</li>
    </ul>
    <br>
    <br>
    <h3>En cas de problème:</h3>
    <p>hauviller.cedric@gmail.com</p>

{% endblock %}
